{% extends "base.html" %}
{% block content %}

    <body class="text-break" style="background-image: linear-gradient(50deg, #2c5e92 0%, #2d784c 80%);">

        <div class="container text-center hi">
            <p style="font-size: 40px;">
                Hi {{ display_name }}!
            </p>

            <p>
                Here is a list of your playlists on Spotify.<br>
                Select the playlist(s) you would like to organize.
            </p>
        </div>

        <br>

        <div class="list-group">
            {% for playlist in playlists %}
                {% set playlist_name = playlist['name'] %}
                {% set playlist_id = playlist['id'] %}
                {% set playlist_img_url = playlist['images'][0]['url'] %}

                <a class="list-group-item selectable list-group-item-action d-flex justify-content-between align-items-center playlists" data-id="{{ playlist_id }}">
                    <span>{{ playlist_name }}</span>
                    <div>
                        <img src="{{ playlist_img_url }}" style="max-width: 47px;" alt="">
                    </div>
                </a>

            {% endfor %}
        </div>
        
        <div class="text-center next-btn-div">
            <form action="/select_option" method="POST" onsubmit="return validateSelectPlaylists();">
                <input type="hidden" id="selected_playlists" name="selected_playlists" value="">
                <button class="btn next-btn btn-primary" type="submit" onclick="getPlaylists()">
                    Next
                </button>
            </form>
        </div>

    </body>

{% endblock %}